[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.g.cs
*.g.i.cs
*.xaml.g.cs

*.nupkg
/packages/
!*/packages/build/

.DS_Store
Thumbs.db

*.bak
*.cache
*.tmp